html{
    background-image: url(/images/vecteezy_abstract-colorful-line-wave-on-black-background-use-for_3705356.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container-fluid{
    background-image: url(/images/vecteezy_abstract-colorful-line-wave-on-black-background-use-for_3705356.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




