html{
    background-image: url(/images/vecteezy_minimalist-blue-premium-abstract-background-with-3d-abstract_6828059.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container-fluid{
    background-image: url(/images/vecteezy_minimalist-blue-premium-abstract-background-with-3d-abstract_6828059.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}